<a href="https://colab.research.google.com/github/suyash091/PIMA-INDIAN-DIABETES/blob/master/Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**IMPORTING THE DATASET**

In [0]:
import os
os.environ['KAGGLE_USERNAME'] = "suyash091"
os.environ['KAGGLE_KEY'] = "9775b0a6da90b12a0c284d71e498de43"
#!kaggle datasets download -d sulianova/cardiovascular-disease-dataset #CardioVascular
!kaggle datasets download -d uciml/pima-indians-diabetes-database

Downloading pima-indians-diabetes-database.zip to /content
  0% 0.00/8.91k [00:00<?, ?B/s]
100% 8.91k/8.91k [00:00<00:00, 7.16MB/s]

**Extracting zipfile**

In [0]:
#!unzip -q '/content/cardiovascular-disease-dataset.zip' 
!unzip -q '/content/pima-indians-diabetes-database.zip'

In [0]:
import pandas as pd

**Data Preprocessing**

In [0]:
#Fixing structure
# Read in the file
with open('/content/ALF_Data.csv', 'r') as file :
  filedata = file.read()

# Replace the target string
filedata = filedata.replace(';', ',')

# Write the file out again
with open('/content/ALF_Data.csv', 'w') as file:
  file.write(filedata)

In [0]:
#Load Data
cvd=pd.read_csv('/content/diabetes.csv').dropna()#.apply(lambda x: x/x.max(), axis=0)
cvd.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [0]:
cvd.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [0]:
#For K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)
outcome_var = ['Outcome']
predictor_var = ['Pregnancies', 'Glucose', 'BloodPressure','SkinThickness','Insulin','BMI', 'DiabetesPedigreeFunction','Age']

In [0]:
#Import models from scikit learn module:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics
import numpy as np

#Generic function for making a classification model and accessing performance:
def classification_model(model, data, predictors, outcome):
  model.fit(data[predictors],data[outcome].values.ravel())
  
  predictions = model.predict(data[predictors])
  
  accuracy = metrics.accuracy_score(predictions,data[outcome])
  print('Accuracy : %s' % '{0:.3%}'.format(accuracy))

  kf = KFold(n_splits=5)
  error = []
  for train, test in kf.split(data[predictors]):
    train_predictors = (data[predictors].iloc[train,:])
    
    train_target = data[outcome].iloc[train]
    
    model.fit(train_predictors, train_target.values.ravel())
    
    error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
  print('Cross-Validation Score : %s' % '{0:.3%}'.format(np.mean(error)))

  return model.fit(data[predictors],data[outcome].values.ravel())

In [0]:

#outcome_var = ['winner']
#predictor_var = ['team1', 'team2', 'venue', 'toss_winner','city','toss_decision']
history=classification_model(model, cvd,predictor_var,outcome_var)

Accuracy : 100.000%
Cross-Validation Score : 75.789%

In [0]:
#inp=list(map(str,[18393,	2,	168,	62.0,	110,	80,	1,	1,	0,	0,	1]))
inp=list(map(str,'63	1	3	145	233	1	0	150	0	2.3	0	0	1'.split()))
inp = np.array(inp).reshape((1, -1))
output=model.predict(inp)

In [0]:
print(output)

[1]

In [0]:
from sklearn.externals import joblib
joblib.dump(model, 'acuteliverfailure.pkl')

['acuteliverfailure.pkl']

In [0]:
import pickle
filename = 'Diabetes.sav'
pickle.dump(model, open(filename, 'wb'))

In [0]:
loaded_model = pickle.load(open(filename, 'rb'))

In [0]:
from sklearn.externals import joblib
import pandas as pd
import numpy as np
#clf = joblib.load('Cardiomodel.pkl')
#inp=list(map(str,[18393,	2,	168,	62.0,	110,	80,	1,	1,	0,	0,	1]))
inp=list(map(str,'6	148	72	35	0	33.6	0.627	50'.split()))
inp = np.array(inp).reshape((1, -1))
result = loaded_model.predict(inp)

In [0]:
print(result)

[1]

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!mv '/content/Diabetes.sav' '/content/drive/My Drive/rackathon/Diabetes.sav'